.container {
    background-color: grey;
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
}

.header-bar {
    background-color: black;
    color: red;
    width: 98vw;
    height: auto;
    display: flex;
}
.header-right {
    align-items: flex-end;
}

.main-body {
    background-color: red;
    display: flex;
    justify-content: center;
}

.main-section {
    background-color: saddlebrown;
    width: 48vw;
}

.footer {
    background-color:blue;
    width: 98vw;
    height: 10px;
}
